{% extends 'base.html.twig' %}

{% block title %}Hello TableController!{% endblock %}
{% block javascripts %}
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>
    <script src="main.js"></script>
{% endblock %}

{% block body %}

<div class="container my-5">
    <h1 class="h2 mb-4 font-weight-normal">Table "Users"</h1>
    <div class="row">
    <div class="col-12">
                <div class="mb-2 d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-danger me-2" id="block">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-lock" viewBox="0 0 16 16">
                            <path
                                d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z">
                            </path>
                        </svg>
                        Block
                    </button>
                    <button type="button" class="btn btn-outline-success me-2" id="unblock">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-unlock" viewBox="0 0 16 16">
                            <path
                                d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2zM3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H3z">
                            </path>
                        </svg>
                        Unblock
                    </button>
                    <button type="button" class="btn btn-outline-danger" id="delete">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash" viewBox="0 0 16 16">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z">
                            </path>
                            <path
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z">
                            </path>
                        </svg>
                        Delete
                    </button>
                </div>
            <table class="table table-hover">
                <thead class= "border-top-0 border-start-0 border-end-0 border-dark border-2">
                <tr>
                    <th scope="col"><input class="form-check-input" type="checkbox" value="" name="all"></th>
                    <th scope="col">Id</th>
                    <th scope="col">Login</th>
                    <th scope="col">Email</th>
                    <th scope="col">Registration date</th>
                    <th scope="col">Last login date</th>
                    <th scope="col">Account status</th>
                </tr>
                </thead>
                <tbody>
                    {% for user in users %}

                        <tr>
                            <td><input class="form-check-input" type="checkbox" value="" name="{{user.getId}}"></td>
                            <th scope="row">{{user.getId}}</th>
                            <td>{{user.getUsername}}</td>
                            <td>{{user.getEmail}}</td>
                            <td>{{user.getRegisterDate|date('Y-m-d')}}</td>
                            <td>{{user.getLastLoginDate|date('Y-m-d')}}</td>
                            <td>
                                {% if user.getStatus == 1 %}
                                    <span style="color: green"><b>active!</b></span>
                                {% else %}
                                    <span style="color: red"><b>blocked!</b></span>
                                {% endif %}
                            </td>
                        </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
        
{% endblock %}
