
<thead class= "border-top-0 border-start-0 border-end-0 border-dark border-2">
<tr>
    <th scope="col"><input class="form-check-input" type="checkbox" value="" name="all"></th>
    <th scope="col">Id</th>
    <th scope="col">Login</th>
    <th scope="col">Email</th>
    <th scope="col">Registration date</th>
    <th scope="col">Last login date</th>
    <th scope="col">Account status</th>
</tr>
</thead>
<tbody>
    {% for user in users %}

        <tr>
            <td><input class="form-check-input" type="checkbox" value="" name="{{user.getId}}"></td>
            <th scope="row">{{user.getId}}</th>
            <td>{{user.getUsername}}</td>
            <td>{{user.getEmail}}</td>
            <td>{{user.getRegisterDate|date('Y-m-d')}}</td>
            <td>{{user.getLastLoginDate|date('Y-m-d')}}</td>
            <td>
                {% if user.getStatus == 1 %}
                    <span style="color: green"><b>active!</b></span>
                {% else %}
                    <span style="color: red"><b>blocked!</b></span>
                {% endif %}
            </td>
        </tr>

    {% endfor %}

</tbody>